# Ports exposed on your host
DASHBOARD_PORT=8000
FLOCI_PORT=4566
FLOCI_ELASTICACHE_PORTS=6379-6399
FLOCI_RDS_PORTS=7001-7099

# Local AWS defaults used by the dashboard container
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# Floci runtime
FLOCI_STORAGE_MODE=hybrid
FLOCI_SERVICES_IAM_ENFORCEMENT_ENABLED=true
FLOCI_AUTH_VALIDATE_SIGNATURES=true
FLOCI_SERVICES_LAMBDA_HOT_RELOAD_ENABLED=true

# Django
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,dashboard
